<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justtfy-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span> Get Connect With Social Meadia:</span>
        </div>
        <div>
            <a href="https://www.instagram.com/roshanamalraj?igsh=NW9uYjh1cmpodmw5" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/roshan-amalraj-359011280" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/RoshanAmalraj" class="me-4 text-reset"><i class="fa fa-github"></i></a>
            <a href="mailto:roshanamalraj2505" class="me-4 text-reset"><i class="fa fa-envelope"></i></a>
        </div>
    </section>
    <section class="">
        <div class="container text-content text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> SmartShop</h6>
                    <p>
                        Discover our range of premium smart devices, including cutting-edge phones for modern connectivity, powerful laptops for enhanced productivity, crystal-clear noise-cancelling earbuds, and rugged, portable Bluetooth speakers for on-the-go audio
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="{% url 'home' %}" class="text-reset">Home</a></p>
                    <p><a href="{% url 'elec' %}" class="text-reset">Smart Devices</a></p>
                    
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fa fa-home"></i> Roshan Amalraj </p>
                    <p><i class="fa fa-envelope"></i> roshanamalraj2505@gmail.com</p>
                    <p><i class="fa fa-pone"></i> +91 63744-26200 </p>
                </div>
            </div>
        </div>
    </section>



</footer>
