@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap');

html{
    font-size: 15px;
}
body{
    font-family: 'Noto Sans',sans-serif;
}

a{
    text-decoration:none;
}
.carousel-item img{
    object-fit:cover;
    object-position:top;
    height: 92VH;
    overflow:hidden;
}

.original_price{
    font-weight: bold;
    color: black;
}

.selling_price{
    font-weight: bold;
    color: green;
    background-color: azure;
}
.cart{
    height: 200px;
}
.card-image-top{
    height: 220px;
    width: 100%;
    object-fit: contain;
    padding: 10px;

}